.hov{
    cursor:pointer;
}

.hov:hover{
    color:green;
} 

.settings{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.settings_head{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.cursor{
    cursor: pointer;
}


.form_values{
    font-size: 18px;
}

.form_label{
    font-size: 16px;
}

.stars{
    font-size: 26px;
    color: gold;
}

.color_green{
    font-weight: bold;
    color: #00902F;
    cursor: pointer;
}

.color_red{
   
    color: red;
    
}



.tableContainer{
    border: 1px solid #E7E7E7;
    margin: 24px;
    padding: 24px;
    background-color: white;
    
}

.settingsContainer{
    border: 1px solid #E7E7E7;
    width: 500px;
    padding: 24px;
    background-color: white;
    
}

.background{
    width: available;
    
}

.tablehead{
    font-weight: bold;
    color: black;
}

.image{
    border-radius: 32px;
    width: 32px;
    height: 32px;
    display:flex;
    margin: 0;
    margin-right: 10px;
}

.notificationImage{
    border-radius: 32px;
    width: 32px;
    height: 32px;
    display:flex;
    margin-top: 12px;
    margin-right: 12px;
}

.iconPadding{
    padding: 8px;
}

.docIcon{
    color: brown;
}

.options{
    display: flex;
    justify-content: flex-end;
    margin: 24px;
}

.buttonIcons{
    margin: 8px;
}

.flex{
    display: flex;
}

.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ml_twenty{
    margin-left: 20px;
}
.ml_100{
    margin-left: 100px;
}

.mr_ten{
    margin-right: 20px;
}

.mr_10{
    margin-right: 10px;
}

.ml_sixteen{
    margin-left: 16px;
}

.mt_twentyfour{
    margin-top: 150px;
}

.mt_24{
    margin-top: 24px;
}

.middleButton{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.alignCenter{
    vertical-align: middle;
}

.basis{
    flex-basis: 46%;
}

.tableBody :global td {
    vertical-align: middle;
  }

.modal{
    padding: 16px;
    max-width:"40px"!important
}

.w_600{
    max-width: 600px;
}

.w_450{
    max-width: 500px;
}

.w_1200{
    max-width: 1000px;
}

.circle_bg_img{
    background-image: url("/public/img/user.png");
}

.walletSidebar {
    background: green;
    /* background: url("/public/img/walletsbbg.png"),
      linear-gradient(180deg, #10b441 0%, #007b24 100%); */
  }

.circle_sm{
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    position: absolute;
    border: 2px solid rgba(0,254,0,0.7);
    border-radius: 50%;
}

.circle_md{
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    position: absolute;
    border: 2px solid rgba(0,254,0,0.4);
    border-radius: 50%;
    
}


.packageCostDisplay {
    display: block;
}
.packageCost {
    display : none;
}



.circle_lg{
    width: 380px;
    height: 380px;
    position: relative;
    border: 2px solid rgba(0,254,0,0.1);
    border-radius: 50%;
    
}

.circleIcon{
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    color: rgba(0,255,0,1);;
    position: absolute;
    
    
}

.img_circle_md{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    border-radius: 50%;
    
}

.img_circle_lg{
    width: 200px;
    height: 200px;
    position: relative;
    border: 2px solid rgba(0,254,0,0.5);
    border-radius: 50%;
    
}

.successModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;

}

.notificationsModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 24px;

}

.flex_around{
    display:flex;
    justify-content: space-around;
}

.flex_basis_30{
    width: 204px;
    height: 36px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    position: absolute;
    top: 146px;
}
.list{
    color: black
}
.flex_basis_40{
    width: 229px;
    height: 36px;
    background: #EEEEEF;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    position: absolute;
    margin-left: 205px;
    top: 146px;
}
.list{
    color: black
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    width: 436px;
    height: 40px;
    background: #EEEEEF;
    border-radius: 6px;
}


.envelope{
    width: 40px;
}

.truckDetails{
    padding: 100px;
}

.truckParams{
    margin-bottom: 32px;
    margin-top: 32px;
}

.itemBorder{
    flex-basis: 50%;
    margin-bottom: 16px;
    margin-right: 32px;
}

.truckDetailsupperText{
    color: #00902F;
}

.walletBackground{
    background: no-repeat url("/img/bgtopshort.jpeg");
    background-size: cover;
}

.opaqueText{
    color: white;
    opacity: 0.7;
}

.whiteText{
    color:white;
}

.walletTopCard{
    padding:24px 48px ;
    border-radius: 25px;
    margin-bottom: 48px;
}

.walletPage{
    margin: 38px 20px;
}

.walletButton{
    background-color: white;
    margin-bottom: 24px;
    border: 1px solid rgba(209, 209, 209, 1);
    color: rgba(0, 144, 47, 1);
}

.flex_right{
    display: flex;
    justify-content: right;
}

.walletTableText{
    color:  #00902F;
    font-weight: bold;
    margin: 0;
}

/* .flex_align_center{
    flex-align: center;
} */
.location{
    width: 321px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #151515;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.date{
    width: 74px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #808080;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -15px;
}
.amount{
   
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #00902F;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: rgba(124, 196, 39, 0.15);
}
.kilometer{
    width: 38px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #151515;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 25px;
}
.description{
    width: 205px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #151515;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.view{
    width: 34px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #00902F;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 530px;
    cursor: pointer;
}
.time{
    width: 279px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.route{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    color: #4E4C4C;
    flex: none;
    flex-grow: 0;
}
.routemap{
    width: 816px;
    height: 817.06px;
}
.orderDetails{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: fixed;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 425px;
    height: 608px;
    margin-left: 498px;
    top: 30px;
    background: white;
}
.camContainerMobile{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 328px;
    height: 523px;
    left: 28px;
    top: 90px;
    background: black;
}
.assignedOrder{
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.orderNumber{
    width: 289px;
    height: 39px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #151515;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -40px;
}
/* .address{
    
} */

.package{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: -15px;
    margin-top: 20px;
}
.weight{
    width: 357px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
}
.kg{
    width: 164px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #151515;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 250px;
}
.size{
    width: 357px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
    margin-top: -35px;
}
.cm{
    width: 164px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #151515;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 190px;
}
.fragile{
    width: 357px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
    margin-top: 5px;
}
.cup{
    padding-left: 215px;
}
.deliveryprice{
    width: 357px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
    margin-top: -20px;

}
.price{
    width: 164px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #151515;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 179px;
}
.dropdown{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #7CC427;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
}
.accept{
    width: 300px;
    height: 40px;
    background: #00902F;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    color: white;
    margin-left: 20px;
}
.orderReviews{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 803px;
    left: 28px;
    top: 20px;
    background: #FFFFFF;
}
.orderScanBarcode{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 603px;
    left: 28px;
    top: 20px;
    background: #FFFFFF;

}
.assignedReview{
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.sender{
    width: 387px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
    margin-top: -20px;
}
.receiver{
    width: 387px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
    margin-top: -20px;
}
.receiver_name{
    width: 164px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #151515;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-left: 193px;
}
.review{
    width: 405px;
    height: 40px;
    background: #00902F;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    color: white;
    margin-left: -13px;
    margin-top: 60px;
}
.callContainer{
    width: 405px;
    height: 50px;
    margin-left: -15px;
    background: rgba(124, 196, 39, 0.15);
    border-radius: 6px;
}
.call{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #151515;
}
.callSender{
    margin-top: -15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #151515;
    
}
.phoneIcon{
   margin-left: 280px;
}
.scan{
    width: 400px;
    height: 40px;
    background: #00902F;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border: none;
    color: white
}
.orderConfirm{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 633px;
    left: 28px;
    top: 30px;
    background: #FFFFFF;
}
.orderDone{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 633px;
    left: 28px;
    top: 30px;
    background: #FFFFFF;
}
.camContainer{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 453px;
    left: 28px;
    top: 30px;
    background: black;
}
/* .snapButton{
   
} */
.approvedIcon{
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 5px;
    border-right: 1px solid lightgrey;
}
.barcode{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 55px;
    margin-top: -35px;
}
.pictureModal{
    position: absolute;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 603px;
    left: 28px;
    top: 90px;
}
.pictureSnap{
    border: none;
    border-radius: 10px;
    background: #E7E7E7;
}
.itemPics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 359px;
    height: 45px;
    background: #E7E7E7;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #808080;
    border-bottom: 0.5px solid #808080;
}
.takePics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
    gap: 10px;
    width: 359px;
    height: 10px;
    background: #E7E7E7;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #151515;
}
.cancelSnap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 16px;
    gap: 10px;
    width: 359px;
    height: 58px;
    background: #FFFFFF;
    border-radius: 12px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border: none;
    margin-top: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #00902F;
}
.snapDesktop{
    border-radius: 50%;
    margin-top: 0px;
    background: white;
    margin-top: -35px;
}
.snapMobile{
    border-radius: 50%;
    margin-top: 0px;
    background: white;
    margin-top: 120px;
}
.editPackage{
    border: none;
    background: #E7E7E7;
    border-bottom: 1px solid lightgrey;
}
.acceptPackage{
    border: none;
    background: #E7E7E7;
    border-bottom: 1px solid lightgrey;
}
.printInvoice{
    border: none;
    background: #E7E7E7;
}
.EditPackageModal{
    position: fixed;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 603px;
    left: 28px;
    top: 90px;
    border-radius: 20px;
}
.orderReceipt{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: absolute;
    z-index: 2;
    border: 0.5 solid #0000;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 40px;
    width: 448px;
    height: 873px;
    left: 28px;
    top: 20px;
    background: #FFFFFF;
}
.Invoicelogo{
    margin-left: -40px;
    margin-top: -50px;
}
.invoice{
    width: 150px;
    height: 43px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: right;
    color: #151515;
    padding-left: 219px;
}
.receiptNumber{
    width: 78px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: #151515;
    padding-left: 287px;
    margin-top: -50px;
}
.issueDate{
    width: 353px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: #151515;
    left: 725px;
    margin-top: -20px;
}
.orderN{
    width: 136px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #808080;
    margin-left: -20px;
}
.orderReceiptNumber{
    width: 194px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #151515;
}
.scanDesktop{
    width: 430px;
    height: 40px;
    left: 58px;
    top: 775px;
    background: #00902F;
    border-radius: 6px;
    color: white;
}
.close{
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #7CC427;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 40px
}
.issued{
    left: 11.76%;
    right: 59.4%;
    top: 0%;
    bottom: 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 7px;
    color: #808080;
}
.issuedpg{
    margin-left: -35px;
}

.table{
    box-shadow: none !important;
}

.tablecellhead{
    font-family: Poppins !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: rgba(0, 0, 0, 1) !important;
    border-bottom: none !important;
}

.tablecelldata{
    font-family: Poppins !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: rgba(0, 0, 0, 1) !important;
}

.tablecelldata > .flex{
    gap: 5px;
}

.flex > span > h5{
    margin: 0;
    font-family: Poppins !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    /* line-height: 24px !important; */
    letter-spacing: 0em !important;
    text-align: left !important;
    color: rgba(0, 0, 0, 1) !important;
}

.flex > span > p{
    margin: 0;
    font-family: Poppins !important;
    font-size: 14px !important;
    font-weight: 300 !important;
    line-height: 20px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: rgba(0, 0, 0, 1) !important;
}


/* //////// mobile //////////// */

.tablemobileContainer{
    margin: 15px;
}

.tablemobile{
    display: grid;
    gap: 10px;
}

.tablemobilerow{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    align-content: start;
}

.tablemobile_data{
    display: grid;
    gap: 10px;
}

.tablemoblie_dropdown_btn{
    background-color: rgba(124, 196, 39, 1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.tablemoblie_dropdown_btn > svg{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.tablemobile_data_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    /* gap: 7rem; */
    border-bottom: 2px solid rgba(249, 249, 249, 1);
    height: 38px;
    align-items: center;
}

.tablemobile_data_row > h5{
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(21, 21, 21, 1);
}

.tablemobile_footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.pagesshowing{
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(21, 21, 21, 1);
}

.pagesshowing > svg{
    color: rgba(21, 21, 21, 1);
    font-size: 24px;
}

.prevnext{
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 2rem;
}

.previcon{
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(124, 196, 39, 1);
}

.previcon > svg{
    color: rgba(124, 196, 39, 1);
    font-size: 24px;
}

.nexticon{
    background-color: rgba(124, 196, 39, 1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.nexticon > svg{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.approved{
    color: #008f30 !important;
    text-transform: capitalize;
}

.pending{
    color: #fbc700 !important;
    text-transform: capitalize;
}

.denied{
    color: #e90b07 !important;
    text-transform: capitalize;
}

.mobile{
    display: none;
}

@media screen and (min-width: 300px){
    .orders{
        display: flex;
        background-color: white;
        z-index: 1;
    }
    .navbar{
        background-color: white;
        width: 80%;
    }
    .doclogo{
        width: 30px;
        height: 30px;
    }
    .statusicon{
        width: 25px;
        height: 25px;
    }
    .ordertable{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
    }
    .dialog{
        -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        padding: 0px;
        margin: -5px;
        width: 155px;
        height: 190px;
        position: absolute;
        z-index: 1000;
        background-color: white;
        border-radius: 10px;
        
    }
    .loaddialog{
        -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        padding: 0px;
        margin: -5px;
        margin-left: -9vh;
        width: max-content;
        /* height: 350px; */
        position: absolute;
        z-index: 1000;
        background-color: white;
        border-radius: 10px;
        padding: 12px 10px 12px 10px;
        display: grid;
        grid-gap: 9px;
    }
    .truckdialog{
        -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        padding: 0px;
        margin-left: -35px;
        width: 165px;
        height: 70px;
        position: absolute;
        z-index: 1000;
        border: 0.5 solid #0000;
        background-color: white;
        border-radius: 10px;
    }

    .button > a{
        text-decoration: none;
    }

    .button{
        background-color: white;
        border: 0.5px none lightgrey;
        display: flex;
        /* margin: 5px 0px 0px 10px; */
        padding: 5px;
        border-radius: 5px;
        align-items: center;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.20000000298023224px;
        text-align: left;
        gap: 7px;
    }

    .button > div{
        width: 12px;
        height: 12px;
        border: 3px solid rgba(166, 166, 166, 1);
        border-radius: 50%;
    }

    .button:hover > div{
        border: 3px solid rgba(0, 144, 47, 1);
    }
    .cancel{
        background-color: white;
        border: none;
        margin-left: 140px;
    }
    .formfilter{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        width: 225px;
        height: max-content;
        position: absolute;
        z-index: 2;
        border: 0.5 solid #0000;
        background-color: white;
        border: 2px solid #fff;
        border-radius: 10px;
        margin-left: 32px;
        margin-top: 50px;
    }
    .filter{
        width: 100%;
        height: 40px;
        border: 0.5px solid lightgrey;
        border-radius: 5px;
    }
    .option{
       font-family: 'Poppins';
       font-style: normal;
       font-weight: 400;
       font-size: 12px;
       line-height: 18px;
       width: 84px;
       height: 18px;
       color: rgba(21, 21, 21, 0.5);
       border: 0.5px solid lightgrey;
    }
   
    .assigndriver{
        position: fixed; 
        z-index: 1; 
        display: grid;
        align-content: center; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4);
    }
    .assignform{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 40px;
        width: 460px;
        /* height: 470px; */
        z-index: 2;
        border: 0.5 solid #0000;
        background-color: white;
        border: 2px solid #fff;
        border-radius: 10px;
        margin: auto;
        display: grid;
        grid-gap: 6px;
    }
    .truckassignform{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        width: 365px;
        height: 540px;
        position: absolute;
        z-index: 2;
        border: 0.5 solid #0000;
        background-color: white;
        border: 2px solid #fff;
        border-radius: 10px;
        margin-left: 600px;
    }
    .assignformcomp{
        position: absolute;
        margin-left: -550px;
        margin-top: 10px;
    }
    .label{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(21, 21, 21, 0.8);
        margin-top: 10px;
    }
    .assigninput{
        width: 100%;
        height: 40px;
        border: 0.5px solid rgba(231, 231, 231, 1);
        border-radius: 4px;
        padding: 10px 12px;
    }
    .select{
        width: 100%;
        height: 40px;
        border: 0.5px solid rgba(231, 231, 231, 1);
        border-radius: 4px;
        padding: 10px 12px;
    }
    .assigntextarea{
        margin-top: 1rem;
        width: 100%;
        height: 80px;
        border: 0.5px solid rgba(231, 231, 231, 1);
        border-radius: 4px;
        padding: 10px 12px;
    }
    .btnGroup{
        margin-top: 2rem;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        justify-content: space-between;
        grid-gap: 2rem;
    }
    .assignbutton{
        width: 100%;
        height: 40px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 600;
    }
    .cancelassignbutton{
        width: 100%;
        height: 40px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 600;
    }
    .successdialog{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        width: 425px;
        height: 520px;
        border: 0.5 solid #0000;
        background-color: white;
        border: 2px solid #fff;
        margin-left: 0px;
        margin-top: -160px;
    }
    .logoutdialog{
        -webkit-box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
        padding: 20px;
        width: 425px;
        height: 520px;
        border: 0.5 solid #0000;
        background-color: #ffff;
        border: 2px solid #fff;
        margin-left: 0px;
        margin-top: -500px;
        position: absolute;
        z-index: 1000;
    }
    .logo{
        width: 120px;
        height: 70px;
        margin-top: 10px;
        margin-left: 135px;
    }
    .successful{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
    }
    .ordersuccess{
        margin-top: 20px;
        text-align: center;
    }
    .mark{
        margin-left: 170px;
    }
    .circle_sm{
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
        position: absolute;
        border: 2px solid rgba(0,254,0,0.7);
        border-radius: 50%;
    }
    .circle_md{
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        position: absolute;
        border: 2px solid rgba(0,254,0,0.4);
        border-radius: 50%;
    }
    .circle_lg{
        width: 250px;
        height: 250px;
        top: -5%;
        left: 20%;
        position: relative;
        border: 2px solid rgba(0,254,0,0.1);
        border-radius: 50%;
        
    }
    .circleIcon{
        top: 35%;
        left: 35%;
        width: 30%;
        height: 30%;
        color: rgba(0,255,0,1);;
        position: absolute;
    }
    .okbtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        margin-top: -10px;
        width: 352px;
        height: 40px;
        background: #00902F;
        border-radius: 4px;
        color: white;
        border: 0.5px solid #fff;
    }
    
}


@media screen and (max-width: 768px){
    .background {
        margin-top: 75px;
        padding-bottom: 3rem;
    }

    .mobile{
        display: grid;
    }

    .options{
        display: grid;
        width: 100%;
        margin: 0;
        padding: 15px;
        justify-content: unset;
    }

    .assignform{
        width: 90%;
    }

    .walletTopCard{
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        padding: 18px;
    }

    .walletTopCard > div{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .walletButton{
        margin-bottom: 0;
        border-radius: 10px;
    }

    .invert{
        flex-direction: row-reverse !important;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .walletTopCard > div > p{
        margin: 0;
        font-size: 14px;
    }

    .walletTopCard > div > h3{
        margin: 0;
        font-size: 18px;
    }

    .background > h4{
        font-size: 16px;
        margin: 0 !important;
    }

    .background > p{
        margin: 0 !important;
        font-size: 14px;
    }

    .walletTableText{
        font-size: 14px;
    }

    .flex_between > div > p{
        margin: 0;
    }

    .tableContainer{
        margin: 0;
        padding: 0;
        border: none;
    }

    .formfilter{
        margin-top: 34px;
        margin-left: 0;
    }
    
    .assigndriver{
        z-index: 10;
    }
}
